#form1{

    
    border:5px solid #06283D;
    border-radius: 15px;
    margin: 50px;
    width: 250px;
    background-color: #06283D;
    height: 800px;
    

}


#myCanva{ 

   
    height: 800px;
    width: 800px;
    border: 3px solid #06283D;
    background-color: white;
}


#main{

display: flex; 
justify-content: center;
align-items: center;
text-align: center;
}


.row{
    margin:40px 40px 20px 40px;
}


.inputForm{

    
    width: 100px;
    height: 30px;
    font-size: large;
}

.inputForm2{

    margin-left: 10px;
    width: 140px;
    height: 30px;
    font-size: large;
}

.rowlabel{
    margin:5px;
    background-color: #47B5FF;
    border: 3px solid #47B5FF;
    border-radius: 15px;
    text-align: center;
}

body{

    background-color: #DFF6FF;
}

#title{

    background-color: white;
    border:3px solid #47B5FF;
    border-radius: 10px;
    color:black;
    font-weight: bolder;
    text-align: center;
    font-size: large;
    margin-top: 30px;
    font-weight: bolder;
}

.formBut {

height: 30px;
border-radius: 10px;
margin-top:5px

}

 td, tr, th {

    border:1px solid black;
    border-collapse: collapse;
    margin-left: 50px;
    
}

table {
    
    position:relative;
    width: 400px;
    border:1px solid black;
    border-collapse: collapse;
}
